<h1>
    {{ 
        (heroe.id)
            ? 'Editar'
            : 'Nuevo'
    }}
    Héroe
    <small>
        {{heroe.superhero}}
    </small>
</h1>

<div class="div display-flex mt-1">
    <div class="flex-child">
        <mat-form-field
            class="w-100"
        >
            <mat-label>
                Super Héroe
            </mat-label>
            <input
                matInput 
                type="text"
                [(ngModel)]="heroe.superhero"
                required
            >
        </mat-form-field>
        <mat-form-field
            class="w-100"
        >
            <mat-label>
                Alter Ego
            </mat-label>
            <input
                matInput 
                type="text"
                [(ngModel)]="heroe.alter_ego"
                required
            >
        </mat-form-field>
        <mat-form-field
            class="w-100"
        >
            <mat-label>
                Primera Aparición
            </mat-label>
            <input
                matInput 
                type="text"
                [(ngModel)]="heroe.first_appearance"
                required
            >
        </mat-form-field>
        <mat-form-field
            class="w-100"
        >
            <mat-label>
                Personajes
            </mat-label>
            <input
                matInput 
                type="text"
                [(ngModel)]="heroe.characters"
                required
            >
        </mat-form-field>
        <mat-form-field
            class="w-100"
        >
            <mat-label>
                Creador
            </mat-label>
            <mat-select
                required
                [(ngModel)]="heroe.publisher"
            >
                <mat-option
                    *ngFor="let publisher of publishers"
                    [value]="publisher.id"
                >
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field
            class="w-100"
        >
            <mat-label>
                Foto Url
            </mat-label>
            <input
                matInput 
                type="url"
                [(ngModel)]="heroe.alt_img"
                required
            >
        </mat-form-field>

        <br>

        <div class="display-flex justify-content-evenly">
        <button
            mat-raised-button
            class="ml-1"
            color="primary"
            (click)="guardar()"
        >
            <mat-icon>edit</mat-icon>

            Guardar
        </button>

            <button
                *ngIf="heroe.id"
                mat-raised-button
                (click)="borrarHeroe()"
                color="warn"
            >
                <mat-icon>
                    remove
                </mat-icon>
                Borrar
            </button>
        </div>
    </div>
    <div 
        class="flex-child p-1"
    >
        <div
            style="display: flex;"    
        >
            <img
                [src]="heroe | imagen" alt=""
            >
        </div>
    </div>
</div>